@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.lightCream");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.darkCream");
}
